/* Write your CSS here */
.slider-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
.heading {
  color: #05acff;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}